<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
    <div class="top-bar smoothie hidden-xs">
        <div class="container">
            <div class="clearfix">
                <ul class="list-inline social-links wow pull-left">
                    <li>
                        <a href="https://www.facebook.com/michel.lapalus.5"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://codepen.io/mlapalus"><i class="fa fa-code"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/michel-lapalus-52a7987b/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Mlapalus"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
                <div class="pull-right text-right">
                    <ul class="list-inline">
                        <li>
                            <div><i class="fa fa-envelope-o"></i> mlapalus.dev@gmail.com</div>
                        </li>
                        <li>
                            <div class="meta-item"><i class="fa fa-mobile"></i> +33 641586214</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-header page-scroll" style="">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation" style="">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand smoothie logo logo-light" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/logo-ml-dark.png') }}" width="200px" alt="logo">
            </a>
            <a class="navbar-brand smoothie logo logo-dark" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/logo-ml-light.png') }}" width="200px" alt="logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navigation" style="">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('curriculum') }}" class="nav-link">Curriculum Vitae</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('portfolio') }}" class="nav-link">Portfolio</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="side-menu-trigger hidden-xs"><i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
